<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Suite1" verbose="1" >
    <parameter name="browser" value="CHROME"/>
    <!-- <parameter name="browser" value="FIREFOX"/> -->
    <test name="Test HomePage" >
        <classes>
            <class name="Test1RegistrationProcess" />
            <class name="Test2MandatoryFieldsAndDataValidationOnRegistrationPage"/>
            <class name="Test3BoxDraggingOnTheDraggablePage"/>
            <class name="Test4SelectingMultipleOptionsOnTheSelectablePage"/>
        </classes>
    </test>
</suite>